{% extends 'layout.html' %}

{% block require %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='DataTables/css/jquery.dataTables.min.css') }}"/>

  <script type="text/javascript" src="{{ url_for('static',filename='jquery-3.5.1.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='DataTables/js/jquery.dataTables.min.js') }}"></script>
  {% block scripts %}{% endblock %}
{% endblock %}
  

  {% block title %}貿易裝箱计算器{% endblock %}

{% block content %}
<form method="GET">
  {{ form.count.label }}
  {{ form.count() }}
{% if form.count.errors %}
    <ul class="errors">
    {% for error in form.count.errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}
  {{ form.location.label }}
  {{ form.location(size=1) }}
{% if form.location.errors %}
    <ul class="errors">
    {% for error in form.location.errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}
  {{ form.level.label }}
  {{ form.level(size=1) }}
{% if form.level.errors %}
    <ul class="errors">
    {% for error in form.level.errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}
  {{ form.level_num.label }}
  {{ form.level_num() }}
{% if form.level_num.errors %}
    <ul class="errors">
    {% for error in form.level_num.errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}
  <input type="submit" value="肘！">
</form>

<p>裝箱值多少，I tell you</p>
<p>實際加工有跳階，產量一般會更大。因為没找到計算公式，這裡沒有計算,只按基礎產量計算</p>
<p>木材加工跳階成品能用，礦石加工跳階成品不能裝箱，所以木材利潤還要更高</p>

   {% block result %}
   {% endblock %}

{% endblock %}

