{% extends 'layout.html' %}

{% block require %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='DataTables/css/jquery.dataTables.min.css') }}"/>

  <script type="text/javascript" src="{{ url_for('static',filename='jquery-3.5.1.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='DataTables/js/jquery.dataTables.min.js') }}"></script>
  {% block scripts %}{% endblock %}
{% endblock %}
  

  {% block title %}貿易裝箱计算器{% endblock %}

{% block content %}
<form method="GET">
  {{ form.count.label }}
  {{ form.count() }}
{% if form.count.errors %}
    <ul class="errors">
    {% for error in form.count.errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}
  {{ form.location.label }}
  {{ form.location(size=1) }}
{% if form.location.errors %}
    <ul class="errors">
    {% for error in form.location.errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}
  {{ form.level.label }}
  {{ form.level(size=1) }}
{% if form.level.errors %}
    <ul class="errors">
    {% for error in form.level.errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}
  {{ form.level_num.label }}
  {{ form.level_num() }}
{% if form.level_num.errors %}
    <ul class="errors">
    {% for error in form.level_num.errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}
  <input type="submit" value="肘！">
</form>

<p>裝箱值多少，I tell you</p>
<p>加工产量:</p>
<p>加工次级材料时会跳阶出成品，产率固定是0.05,熟练度只影响大量加工一次的量，不影响产率</p>
<p>20原木加工10个木板0.2个合板，10个木板加工2.5合板，总产量2.7,20/2.7可得7.4原木产出1合板</p>

   {% block result %}
   {% endblock %}

{% endblock %}

