{% extends 'layout.html' %}

{% block require %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='DataTables/css/jquery.dataTables.min.css') }}"/>

  <script type="text/javascript" src="{{ url_for('static',filename='jquery-3.5.1.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='DataTables/js/jquery.dataTables.min.js') }}"></script>
  {% block scripts %}{% endblock %}
{% endblock %}
  

  {% block title %}料理计算器{% endblock %}

{% block content %}
<form method="POST">
  {{ form.csrf_token }}
  {{ form.count.label }}
  {{ form.count(size=20) }}
{% if form.count.errors %}
    <ul class="errors">
    {% for error in form.count.errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}
  {{ form.skill.label }}
  {{ form.skill(size=20) }}
{% if form.skill.errors %}
    <ul class="errors">
    {% for error in form.skill.errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}
  {{ form.tribute_skill.label }}
  {{ form.tribute_skill(size=20) }}
{% if form.tribute_skill.errors %}
    <ul class="errors">
    {% for error in form.tribute_skill.errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}
  <input type="submit" value="肘！">
</form>

   {% block result %}
   {% endblock %}

{% endblock %}

