<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block require %}{% endblock %}
    <title>{% block title %}{% endblock %} - BDO-toolkit</title>
    {% endblock %}
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="{{ url_for('toolkit.cook') }}">料理计算器</a>
      </ul>
    </nav>
    <section class="content">
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </section>
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2022 by Sakura Momiji.
      {% endblock %}
    </div>
  </body>
</html>
